{
  "presets": ["@babel/preset-env"],
  "plugins": [[
    "@babel/plugin-transform-runtime"
  ],
    [
      "search-and-replace",
      {
        "rules": [
          {
            "search": "./article.mjs",
            "replace": "../../dist/js/article"
          },
          {
            "search": "./pageparser.mjs",
            "replace": "../../dist/js/pageparser"
          },
          {
            "search": "./popup.mjs",
            "replace": "../../dist/js/popup"
          },
          {
            "search": "./bulletin.mjs",
            "replace": "../../dist/js/bulletin"
          },
          {
            "search": "./articleextractor.mjs",
            "replace": "../../dist/js/articleextractor"
          },
          {
            "search": "./speech.mjs",
            "replace": "../../dist/js/speech"
          },
          {
            "search": "./translator.mjs",
            "replace": "../../dist/js/translator"
          },
          {
            "search": "./summarise.mjs",
            "replace": "../../dist/js/summarise"
          }
        ]
      }
    ]
  ]
}